

.btn{
  padding: 3px;

  display: flex;

  border: none;
  border-radius: 50%;

  .circle{
    padding: 4px;

    display: flex;

    border-radius: 50%;
    background-color: var(--light-accent-color);

    transition: background-color 0.3s ease;
  }

  transition: background-color 0.3s ease, color 0.3s ease;

  cursor: pointer;
}

.primary{
  color: var(--accent-text-color);
  background-color: var(--accent-color);

  &:hover,
  &:focus{
    color: var(--text-color);
    background-color: var(--light-accent-color);
  }
}

.secondary{
  color: var(--text-color);
  background-color: var(--light-accent-color);

  &:hover,
  &:focus{
    color: var(--accent-text-color);
    background-color: var(--accent-color);
  }
}

.transparent{
  background-color: transparent;

  .circle{
    background-color: transparent;
  }

  &:hover,
  &:focus{
    background-color: rgba($color: #000000, $alpha: 0.05);

    .circle{
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }
} 

.disabled {
  background-color: rgba($color: #000000, $alpha: 0.2);
  color: rgba($color: #000000, $alpha: 0.2);

  .circle{
    background-color: rgba($color: #000000, $alpha: 0.05)
  }

  &:hover,
  &:focus{
    background-color: rgba($color: #000000, $alpha: 0.2);
    color: rgba($color: #000000, $alpha: 0.2);

    .circle{
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }
}